{% comment %} {% assign avg_rating = block.settings.product.metafields.demo.avg_rating.value | round %} {% endcomment %}

{% assign current_value = localization.country.iso_code %}
{% assign selected_text = localization.country.name %}
{% capture options %}
  [
    {% for country in localization.available_countries %}
      {
        "value": {{ country.iso_code | json }},
        "label": {{ country.name | json }}
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
{% endcapture %}

{% comment %} {% assign options = options | strip_newlines | strip %} {% endcomment %}

<span style="color:{{ block.settings.colour }}">
  {% render 'selector', placeholder: '请选择', value: current_value, selected_text: selected_text, options: options %}
</span>
{% comment %}
  {% if avg_rating >= 4 %}
    <br>
    <img src="{{ "thumbs-up.png" | asset_img_url: '15x' }}" height="15" width="15" loading="lazy">
    {{ 'ratings.home.recommendationText' | t }}
  {% endif %}
{% endcomment %}

{% schema %}
{
  "name": "Star Rating",
  "target": "section"
}
{% endschema %}
