<link rel="stylesheet" href="{{ 'switcher.css' | asset_url }}">

<ciwiswitcher-form>
  {% form 'localization' %}
    <div
      id="ciwi-container"
      class="ciwi_container"
    >
      <div
        id="selector-box"
        style="background: #fff; border: 1px solid #ccc; padding: 15px; border-radius: 5px; margin-bottom: 5px; width: 100%; display: none"
      >
        <input type="hidden" name="market" value="{{ localization.market.id }}">
        <label for="language-switcher" class="language_title">Language</label>
        <div class="select-wrapper">
          <select id="language-switcher" class="ciwi_select">
            {% for language in localization.available_languages %}
              <option
                value="{{language.iso_code}}"
                {% if language.iso_code == localization.language.iso_code %}
                  selected
                {% endif %}
              >
                {{ language.endonym_name | capitalize }}
              </option>
            {% endfor %}
          </select>
          <img
            id="language-arrow-icon"
            class="arrow_icon"
            src="{{ 'arrow.svg' | asset_url }}"
            alt="Arrow Icon"
            width="25%"
            height="25%"
          >
        </div>
        <input type="hidden" name="language_code" value="{{ localization.language.iso_code }}">

        <label for="currency-switcher" class="currency_title">Currency</label>
        <div class="select-wrapper">
          <select id="currency-switcher" class="ciwi_select"></select>
          <img
            id="currency-arrow-icon"
            class="arrow_icon"
            src="{{ 'arrow.svg' | asset_url }}"
            alt="Arrow Icon"
            width="25%"
            height="25%"
          >
        </div>
        <input type="hidden" name="currency_code" value="">
        <div class="button_wrapper">
          <button id="switcher-confirm" class="ciwi_switcher_confirm_button">Confirm</button>
          <button id="switcher-close" class="ciwi_switcher_cancel_button">Cancel</button>
        </div>
      </div>
      <input id="queryCiwiId" type="hidden" value="{{ shop.permanent_domain }}">
      <input id="queryMoneyFormat" type="hidden" value="{{ shop.money_format | strip_html }}">
      <div
        id="main-box"
        class="main_box"
      >
        <span id="display-text" class="main_box_text">{{ localization.language.endonym_name | capitalize }}</span>
        <img
          id="mainbox-arrow-icon"
          class="mainarrow_icon"
          src="{{ 'arrow.svg' | asset_url }}"
          alt="Arrow Icon"
          width="25%"
          height="25%"
        >
        <img
          class="mobile_trans_img"
          src="{{ 'trans.png' | asset_url }}"
          alt="Button Image"
          width="50px"
          height="50px"
        >
      </div>
    </div>
  {% endform %}
</ciwiswitcher-form>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" async></script>
<script src="{{ 'switcher.js' | asset_url }}" async></script>

{% schema %}
{
  "name": "Ciwi_Switcher",
  "target": "body",
  "settings": []
}
{% endschema %}
