<link rel="stylesheet" href="{{ 'switcher.css' | asset_url }}">

<ciwiswitcher-form>
  {% form 'localization' %}
    <div
      id="ciwi-container"
      class="ciwi_container"
    >
      <div
        id="selector-box"
        style="background: #fff; border: 1px solid #ccc; padding: 15px; border-radius: 5px; margin-bottom: 5px; width: 100%; display: none"
      >
        <div
          id="language-switcher-container"
        >
          <div class="custom-selector" data-type="language">
            <div class="selector-header" data-type="language">
              <div class="selected-option" data-type="language">
                {% comment %}
                  <img
                    class="country-flag"
                    src="{{ 'flags/' | append: localization.language.iso_code | downcase | append: '.svg' | asset_url }}"
                    alt=""
                  >
                {% endcomment %}
                <span class="selected-text" data-type="language">
                  {{- localization.language.endonym_name | capitalize -}}
                </span>
              </div>
              <img
                id="currency-arrow-icon"
                class="arrow_icon"
                src="{{ 'arrow.svg' | asset_url }}"
                alt="Arrow Icon"
                width="25%"
                height="25%"
              >
            </div>
            <div class="options-container" data-type="language">
              <div class="options-list">
                {% for language in localization.available_languages %}
                  <div
                    class="option-item {% if language.iso_code == localization.language.iso_code %}selected{% endif %}"
                    data-value="{{ language.iso_code }}"
                    data-type="language"
                  >
                    {% comment %}
                      <img
                        class="country-flag"
                        src="{{ 'flags/' | append: language.iso_code | downcase | append: '.svg' | asset_url }}"
                        alt=""
                      >
                    {% endcomment %}
                    <span class="option-text">{{ language.endonym_name | capitalize }}</span>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div
          id="currency-switcher-container"
          style="display: none"
        >
          <div class="custom-selector" data-type="currency">
            <div class="selector-header" data-type="currency">
              <div class="selected-option" data-type="currency">
                <span class="selected-text" data-type="currency"></span>
              </div>
              <img
                id="currency-arrow-icon"
                class="arrow_icon"
                src="{{ 'arrow.svg' | asset_url }}"
                alt="Arrow Icon"
                width="25%"
                height="25%"
              >
            </div>

            <div class="options-container">
              <div class="options-list"></div>
            </div>
          </div>
        </div>
        <div class="button_wrapper">
          <button id="switcher-confirm" class="ciwi_switcher_confirm_button">Confirm</button>
        </div>
      </div>
      <div
        id="main-box"
        class="main_box"
      >
        <span id="display-text" class="main_box_text">{{ localization.language.endonym_name | capitalize }}</span>
        <img
          id="mainbox-arrow-icon"
          class="mainarrow_icon"
          src="{{ 'arrow.svg' | asset_url }}"
          alt="Arrow Icon"
          width="25%"
          height="25%"
        >
        <img
          class="mobile_trans_img"
          src="{{ 'trans.png' | asset_url }}"
          alt="Button Image"
          width="50px"
          height="50px"
        >
      </div>
    </div>
    <input id="queryCiwiId" type="hidden" value="{{ shop.permanent_domain }}">
    <input id="queryMoneyFormat" type="hidden" value="{{ shop.money_format | strip_html }}">
    <input id="queryCiwiId" type="hidden" value="{{ shop.permanent_domain }}">
    <input type="hidden" name="currency_code" value="">
    <input type="hidden" name="language_code" value="{{ localization.language.iso_code }}">
  {% endform %}
</ciwiswitcher-form>
<ciwiswitcher-form>
  {% form 'localization' %}
    <div hidden>
      <ul role="list">
        {%- for country in localization.available_countries -%}
          <li>
            <a
              href="#"
              data-value="{{ country.iso_code }}"
              {% if country.iso_code == localization.country.iso_code %}
                aria-current="true"
              {% endif %}
            >
              {{- country.name }} |
              {{ country.currency.iso_code }}
              {{ country.currency.symbol -}}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
    <span type="hidden" name="iptoken">4edc3b4d5ca1476accda4d9912c99112</span>
    <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
  {% endform %}
</ciwiswitcher-form>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" async></script>
<script src="{{ 'switcher.js' | asset_url }}" async></script>

{% schema %}
{
  "name": "Ciwi_Switcher",
  "target": "body",
  "settings": []
}
{% endschema %}
